* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

header {
    padding: 30px 0 110px 0;
    min-height: 100vh;
    background-color: var(--header-color);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header__action__log-in,
.navbar__link {
    padding: 8px 21px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active {
    display: flex;
    align-items: center;
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    content: "";
    position: relative;
    left: -8px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
}

.header__action {
    display: flex;
    align-items: center;
}

.header__action__log-in {
    margin-right: 7px;
}

.header__action_sign-up {
    /* display: inline-block; */
    min-width: 104px;
    font-size: 1.6rem;
    line-height: 44px;
    text-align: center;
}

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__link,
.hero__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: #ffffff;
}
.hero__text {
    margin-left: 38px;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
    /* z-index: 1; */
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* services */
.services {
    padding: 170px 0;
}

.services__heading,
.services__desc {
    text-align: center;
}

.services__desc {
    margin-top: 18px;
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.services__body {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
}

.services-list {
    margin-bottom: 55px;
}

.services-item {
    display: flex;
    padding: 22px;
    width: 470px;
    background: #ffffff;
    border-radius: 10px;
    transition: ease 0.25s;
}

.services-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.services-item:hover .services-item__icon {
    background: #2e80ce;
    color: #fff;
}

.services-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    /* de cho icon khong bi mop meo */
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: ease 0.25s;
}

.services-item__name {
    margin-left: 19px;
}

.services-name__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.services-name__desc {
    margin-top: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* work */
.work {
    padding: 100px 0;
    background: #f7fbff;
}

.work__desc {
    margin-top: 18px;
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 44px;
    transition: all ease 0.25s;
}

.work-item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}

/* feature */
.feature {
    padding: 85px 0;
    margin-top: 85px;
}

.feature__wrap {
    display: flex;
    align-items: center;
    gap: 130px;
}

.feature__images {
    position: relative;
    display: flex;
    padding: 0 58px 121px 0;
    width: 49%;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__content {
}

.feature-heading {
    margin-bottom: 18px;
}

.feature-desc {
    margin-bottom: 38px;
}

/* doctor */
.doctors {
    padding: 85px 0;
}

.doctors__heading {
    text-align: center;
}

.doctors__button {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.doctors__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 19px;
}

.doctors-item:hover .doctors-item__img {
    transform: scale(1.2);
}

.doctors-item__bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
    transition: 0.25s;
}

.doctors-item__img {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 6px;
}

.doctors-item__heading {
    margin-top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #10375c;
}

.doctors-item__desc {
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #575f66;
}

.doctors__page {
    margin-top: 38px;
    justify-content: center;
}

/* install */
.install {
    margin-top: 180px;
    padding: 0 70px;
    border-radius: 4px;
    background: #2e80ce;
}

.install__inner {
    display: flex;
    align-items: center;
}

.install-img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
}

.install-content {
    margin-left: auto;
    max-width: 586px;
}

.install-heading,
.install-desc {
    color: #ffffff;
}

.install-desc {
    margin-top: 18px;
}

.install-btn {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

/* news */
.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-content {
}

.news-content__heading {
    max-width: 470px;
}

.news-content__link {
    margin-top: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: #10375c;
}

.news-content__chevron {
    margin-top: 28px;
}

.news-list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
    transform: translateY(-16px);
}

.news-item:hover .news-item__content {
    border: #fff;
}

.news-item__link {
    display: block;
}

.news-item__thumb {
    display: block;
    width: 270px;
    height: 172px;
    object-fit: cover;
}

.news-item__content {
    padding: 22px;
    border-top: none;
    border: 1px solid #e8ebee;
    border-radius: 0 0 12px 12px;
    background: #ffffff;
    transition: 0.25s;
}

.news-item__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}

.news-item__desc {
    margin-top: 10px;
    /* max-width: 224px; */
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}

.news-item__more {
    margin-top: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.28;
    color: #10375c;
}

.news-item:hover .news-item__more {
    color: #2e80ce;
}

/* appointment */
.appointment {
    margin: 85px 0;
}

.appo-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 70px;
    background: #f7fbff;
    border-radius: 4px;
}

.appo-inner__heading {
    position: relative;
    padding-bottom: 20px;
}

.appo-inner__heading::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    /* c2 */
    /* left: 0;
    right: 0;
    margin: 0 auto; */
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.appo-inner__desc {
    margin-top: 18px;
    width: 617px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
    text-align: center;
    /* c2 : margin: 0 auto */
}

.appo-inner__btn {
    margin-top: 38px;
}

/* footer */
.footer {
    margin-top: 85px;
    padding-top: 100px;
    background: #10375c;
    font-family: "Open Sans", sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__column {
}

.footer__desc {
    margin: 21px 0 10px 0;
    width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer__list {
    margin: 20px 0 28px 0;
}

.footer__link {
    width: 134px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* color: #a9b3bb; */
    color: #a9b3bb;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__item + .footer__item {
    margin-top: 10px;
}

.footer__socials {
    margin: 20px 0 28px 0;
    display: flex;
    column-gap: 10px;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    color: #2e80ce;
}

.footer__social:hover {
    background: #2e80ce;
    color: #fff;
}

.footer__form {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

#footer__email {
    width: 212px;
    height: 46px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #406181;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: white;
    background-color: transparent;
}

#footer__email::placeholder {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9ca8b1;
}

.footer__btn {
    min-width: 108px;
    height: 46px;
    line-height: 48px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}

.footer__copyright {
    border-top: 1px solid #406181;
}

.footer__copyright-text {
    padding: 28px 0 48px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #aab3ba;
}
